@page "/MyDevice"
@namespace Functionland.FxBlox.Client.Core.Pages
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.MyDevice)]</PageTitle>

<div class="fx-basic-page @(_applyAnimation ? "fx-page-open-mode" : "")">
    Blox
</div>
