@page "/MyDevice"
@namespace Functionland.FxBlox.Client.Core.Pages
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.MyDevice)]</PageTitle>

<div>Blox</div>

<FxButton Text="Add Blox"
          ButtonStyle="FxButtonStyle.MenuLine"
          OnClick="@(() => NavigationManager.NavigateTo("/add-blox-wizard", false, true))"
/>
