@namespace Functionland.FxBlox.Client.Core
@inherits LayoutComponentBase

@* <div class="status-bar">Functionland.FxBlox.App</div> *@

@*<Header OnToggleMenu=ToggleMenuHandler />*@
<div class="main-layout">
    <div class="content">
        <AppErrorBoundary>
             @if (_isLoading)
            {
            }
            else
            {
              @Body
            }
        </AppErrorBoundary>
    </div>
    <BottomNavigation />
</div>

<MessageBox />
