@namespace Functionland.FxBlox.Client.Core
@inherits LayoutComponentBase

<div class="status-bar">FxBlox PR</div>

@*<Header OnToggleMenu=ToggleMenuHandler />*@
<div class="main-layout">
    <div class="content">
        <AppErrorBoundary>
             @if (_isLoading)
            {
            }
            else
            {
              @Body
            }
        </AppErrorBoundary>
    </div>
    <BottomNavigation />
</div>

<MessageBox />
