@namespace Functionland.FxBlox.Client.Core
@inherits LayoutComponentBase

@* <div class="status-bar">Functionland.FxBlox.App</div> *@

@*<Header OnToggleMenu=ToggleMenuHandler />*@

<div class="main">
    <div class="main-content">
        <AppErrorBoundary>
             @if (_isLoading)
            {
                <LoadingComponent Color="#FFF" />
            }
            else
            {
              @Body
            }
        </AppErrorBoundary>
    </div>
    <BottomNavigation />
</div>

<MessageBox />
