$PrimaryColor: #0078D4;
$SecondaryColor: #0D2960;
$S1Color: #183977;
$S2Color: #204383;
$S3Color: #7186B4;
$S4Color: #C1CADF;

$Black: #201F1E;
$Black3: #323130;
$White: #FFFFFF;
$Red: #A4262C;

$Gray1: #8A8886;
$Gray2: #A19F9D;
$Gray3: #DDDDDD;
$Gray4: #EDEBE9;
$Gray5: #F2F2F2;
$Gray6: #FCFCFC;


// new for setting panel : need to change !!

$MainBackground: #01C73A;
/*$PenMainColor: green;
$PenSecondColor: green;*/
$SecondBackground: #283946;
$whiteColor: #fff;
$greenPen: #01C73A;
$MainPen: #283946;
$SecondPen: #A4B1BB;
//Color variables
$RadarMainColor: #01C73A;
$RadarSecondaryColor: #0CA364;
$RadarGradiantBackground: linear-gradient(180deg, #E7F4FF -83.78%, #F6F6F6 100%);
$RadarWhiteBackground: #fff;
$RadarSmoothGrayBackground: #F3F6F8;
$WhiteColor: #fff;
$RadarBlackColor: #283946;
$SecondPen: #A4B1BB;
$RedShadow: #FDECED;
$RadarRed: #EF3E4A;
$bgbottomsheet: #EFF5FA;

//Font variables
$fontSize18: 18px;
$fontSize12: 12px;
$fontSize16: 16px;
$fontSize20: 20px;

//Radius variables
$borderRadius10: 10px;
