// base variable
$base-unit: px;
$font-path: "fonts";
$icon-base-url-dark: "images/icons/darkDesignSystem/";
$icon-base-url-light: "images/icons/lightDesignSystem/";

//main brand colors
$primary-color: #06b597;
$pure-white: #ffffff;
$main-dark: #212529;
$blue-crayola: #187af9;
$viridian-green: #099393;
$granite-gray: #676767;
$silver-gray: #b2b2b2;
$light-silver-gray: #e2e2e2;
//dark colors
$gray-dark-content1: #f8f9fa;
$gray-dark-content2: #e9ecef;
$gray-dark-content3: #ced4da;
$gray-dark-border: #868e96;
$gray-dark-hover: #49505745;
$gray-dark-bg-secondary: #495057;
$gray-dark-bg-primary: #343a40;
$gray-dark-app-bg: #343a40;
$green-dark-pressed: #038082;
$green-dark-base: #049b8f;
$green-dark-hover: #06b597;
$green-dark-border: #035b4c;
$green-dark-bg: #02362d;
$success-dark: #37b24d;
$info-dark: #1c7ed6;
$warning-dark: #fcc419;
$error-dark: #fa5252;
$input-dark-disable: $gray-dark-border;
$diable-item-dark: #212529;
$disable-icon-item-dark: #343a40;
$border-notifications-dark: #495057;
//light colors
$gray-light-content1: #343a40;
$gray-light-content2: #495057;
$gray-light-content3: #6f767d;
$gray-light-hover: #e9ecef7a;
$gray-light-bg-primary: #f8f9fa;
$gray-light-app-bg: $pure-white;
$green-light-base: $green-dark-base;
$green-light-hover: $green-dark-hover;
$gray-light-border: $gray-dark-content3;
$green-light-pressed: $green-dark-pressed;
$gray-light-bg-secondary: $gray-dark-content2;
$green-light-border: #3ba58e;
$green-light-bg: #cafbe0;
$warning-light: #fab005;
$warning-border-light: #fcc419;
$error-light: #fa4343;
$error-border-light: #ff6b6b;
$info-light: $info-dark;
$info-border-light: #339af0;
$success-light: $success-dark;
$success-border-light: #51cf66;
$input-light-disable: $gray-dark-content3;
$diable-item-light: #f8f9fa;
$disable-icon-item-light: #e9ecef;

$colors-light: (
    "app-bg": $pure-white,
    "error": $error-light,
    "warning": $warning-light,
    "green-bg": $green-light-bg,
    "gray-border": $gray-light-border,
    "gray-hover": $gray-light-hover,
    "green-border": $green-light-border,
    "gray-content1": $gray-light-content1,
    "gray-content2": $gray-light-content2,
    "gray-content3": $gray-light-content3,
    "gray-bg-primary": $gray-light-bg-primary,
    "gray-bg-secondary": $gray-light-bg-secondary,
    "input-disable": $input-light-disable,
    "disable-item": $diable-item-light,
    "disable-item-icon": $disable-icon-item-light,
    "error-border": $error-border-light,
    "success-border": $success-border-light,
    "warning-border": $warning-border-light,
    "info-border": $info-border-light,
);

$colors-dark: (
    "app-bg": $main-dark,
    "error": $error-dark,
    "warning": $warning-dark,
    "green-bg": $green-dark-bg,
    "gray-border": $gray-dark-border,
    "gray-hover": $gray-dark-hover,
    "green-border": $green-dark-border,
    "gray-content1": $gray-dark-content1,
    "gray-content2": $gray-dark-content2,
    "gray-content3": $gray-dark-content3,
    "gray-bg-primary": $gray-dark-bg-primary,
    "gray-bg-secondary": $gray-dark-bg-secondary,
    "input-disable": $input-dark-disable,
    "disable-item": $diable-item-dark,
    "disable-item-icon": $disable-icon-item-dark,
    "error-border": $border-notifications-dark,
    "success-border": $border-notifications-dark,
    "warning-border": $border-notifications-dark,
    "info-border": $border-notifications-dark,
);

//svg icons

$back: $icon-base-url-light + "back.svg";
$copy: $icon-base-url-light + "copy.svg";
$delete: $icon-base-url-light + "delete.svg";
$details: $icon-base-url-light + "details.svg";
$rename-file: $icon-base-url-light + "rename.svg";
$close-btn: $icon-base-url-light + "close-btn.svg";
$play-circle: $icon-base-url-light + "play-circle.svg";
$tag-label: $icon-base-url-light + "tag-label.svg";
$chevron-up: $icon-base-url-light + "chevron-up.svg";

$options-vertical: $icon-base-url-light + "options-vertical.svg";
$options-horizontal: $icon-base-url-light + "options-horizontal.svg";
$options-vertical-disabled: $icon-base-url-light +
    "options-vertical-disabled.svg";
$options-horizontal-disabled: $icon-base-url-light +
    "options-horizontal-disabled.svg";

$pin-filled: $icon-base-url-light + "pin-filled.svg";
$pin-outline: $icon-base-url-light + "pin-outline.svg";
$pin-outline-black: $icon-base-url-light + "pin-outline-black.svg";

$avatar-grey: $icon-base-url-light + "avatar-grey.svg";
$edit-status: $icon-base-url-light + "edit-status.svg";
$selected-status: $icon-base-url-light + "selected-status.svg";
$deselected-status: $icon-base-url-light + "deselected-status.svg";

$select-check-filled: $icon-base-url-light + "select-check-filled.svg";
$select-all-check-empty: $icon-base-url-light + "select-all-check-empty.svg";
$select-all-check-filled: $icon-base-url-light + "select-all-check-filled.svg";

$move: $icon-base-url-light + "move.svg";
$folder: $icon-base-url-light + "folder.svg";
$add-file: $icon-base-url-light + "add-file.svg";
$pdf-file: $icon-base-url-light + "pdf-file.svg";
$filter-file: $icon-base-url-light + "filter.svg";
$text-file: $icon-base-url-light + "text-file.svg";
$photo-file: $icon-base-url-light + "photo-file.svg";
$audio-file: $icon-base-url-light + "audio-file.svg";
$create-file: $icon-base-url-light + "create-file.svg";
$upload-file: $icon-base-url-light + "upload-file.svg";
$disabled-folder: $icon-base-url-light + "disabled-folder.svg";

$list-view: $icon-base-url-light + "list-view.svg";
$grid-view: $icon-base-url-light + "grid-view.svg";
$list-view-selected: $icon-base-url-light + "list-view-selected.svg";
$grid-view-selected: $icon-base-url-light + "grid-view-selected.svg";

$search: $icon-base-url-light + "search.svg";
$search-active: $icon-base-url-light + "search-active.svg";
$search-disabled: $icon-base-url-light + "search-disabled.svg";

$info-mode: $icon-base-url-light + "info-mode.svg";
$error-mode: $icon-base-url-light + "error-mode.svg";
$success-mode: $icon-base-url-light + "success-circle-checked.svg";
$in-progress-mode: $icon-base-url-light + "in-progress.svg";
$warning-mode: $icon-base-url-light + "warning-mode.svg";
$red-tab-label: $icon-base-url-light + "red-tab-label.svg";
$output-error-message: $icon-base-url-light + "output-error-message.svg";

$checkbox: $icon-base-url-light + "checkbox.svg";
$disabled-checkbox: $icon-base-url-light + "disabled-checkbox.svg";
$indeterminate-checkbox: $icon-base-url-light + "indeterminate-checkbox.svg";
$disabled-checked-checkbox: $icon-base-url-light +
    "disabled-checked-checkbox.svg";

$radio-btn: $icon-base-url-light + "radio-btn.svg";
$radio-btn-selected: $icon-base-url-light + "radio-btn-selected.svg";
$radio-btn-disabled: $icon-base-url-light + "radio-btn-disabled.svg";
$radio-btn-disabled-selected: $icon-base-url-light +
    "radio-btn-disabled-selected.svg";

$user-person: $icon-base-url-light + "user-person.svg";
$user-person-selected: $icon-base-url-light + "user-person-selected.svg";
$user-person-disabled: $icon-base-url-light + "user-person-disabled.svg";

$green-circle: $icon-base-url-light + "green-circle.svg";
$error-message: $icon-base-url-light + "error-message-icon.svg";
$green-notification: $icon-base-url-light + "green-notification.svg";
$brand-green-circle: $icon-base-url-light + "brand-green-circle.svg";

$download: $icon-base-url-light + "download.svg";
$progress-download: $icon-base-url-light + "progress-download.svg";
$progress-download-disabled: $icon-base-url-light +
    "progress-download-disabled.svg";

$down-arrow: $icon-base-url-light + "down-arrow.svg";
$down-arrow-disable: $icon-base-url-light + "down-arrow-disable.svg";
$down-arrow-pressed: $icon-base-url-light + "down-arrow-pressed.svg";
$crumbs-right-arrow: $icon-base-url-light + "crumbs-right-arrow.svg";

$left-arrow: $icon-base-url-light + "left-arrow.svg";
$left-arrow-hover: $icon-base-url-light + "left-arrow-hover.svg";
$left-arrow-pressed: $icon-base-url-light + "left-arrow-pressed.svg";
$left-arrow-disabled: $icon-base-url-light + "lef-arrow-disabled.svg";

$right-arrow: $icon-base-url-light + "right-arrow.svg";
$right-arrow-hover: $icon-base-url-light + "right-arrow-hover.svg";
$right-arrow-pressed: $icon-base-url-light + "right-arrow-pressed.svg";
$right-arrow-disabled: $icon-base-url-light + "right-arrow-disabled.svg";
$stack-icon: $icon-base-url-light + "stack-icon.svg";

//background
$backgrounds-dark: (
    "base-img": "url(" + $icon-base-url-dark + "base-img.svg"+")",
    "stack-icon": "url(" + $icon-base-url-dark + "stack-icon.svg"+")",
);

$backgrounds-light: (
    "base-img": "url(" + $icon-base-url-light + "base-img.svg"+")",
    "stack-icon": "url(" + $icon-base-url-light + "stack-icon.svg"+")",
);

/*$base-img: $icon-base-url-light + "base-img.svg";*/
// $base-img-light : $icon-base-url-light + "base-img-light.svg";

//outline icons
$extract: "\e900";
$backward-15-seconds: "\e901";
$forward-15-seconds: "\e902";
$puase: "\e903";
$picture-in-picture: "\e904";
$play-outline: "\e906";
$zip-file: "\e907";
$add-file: "\e908";
$app: "\e909";
$arrow-down: "\e90a";
$arrow-left: "\e90b";
$arrow-right: "\e90c";
$arrow-up: "\e90d";
$audio: "\e90e";
$available-offline: "\e90f";
$blox: "\e910";
$check: "\e911";
$chevron-down: "\e912";
$chevron-left: "\e913";
$chevron-right: "\e914";
$chevron-up: "\e915";
$close: "\e916";
$copy: "\e917";
$create-folder: "\e918";
$detail: "\e919";
$document: "\e91a";
$downloading: "\e91b";
$edit-permission: "\e91c";
$external-link: "\e91d";
$file: "\e91e";
$files: "\e91f";
$filter: "\e920";
$folder: "\e921";
$grid: "\e922";
$image: "\e923";
$list: "\e924";
$merge: "\e925";
$move: "\e926";
$options-horizontal: "\e927";
$options-vertical: "\e928";
$PDF: "\e929";
$pending: "\e92a";
$phone: "\e92b";
$pin-outline: "\e92c";
$plug: "\e92d";
$plus: "\e92e";
$pool: "\e92f";
$refresh: "\e930";
$rename: "\e931";
$reward: "\e932";
$scan-code: "\e933";
$search: "\e934";
$select: "\e935";
$settings: "\e936";
$share: "\e937";
$star-outline: "\e938";
$trash: "\e939";
$upload-file: "\e93a";
$user: "\e93b";
$video: "\e93c";
$zones: "\e93d";

//Filled icons
$avatar: "\e93e";
$circle-filled: "\e93f";
$critical: "\e940";
$edit: "\e941";
$fill: "\e942";
$info: "\e943";
$open-in: "\e944";
$pin: "\e945";
$selected: "\e946";
$star-filled: "\e947";
$success: "\e948";
$uploaded: "\e949";
$warning: "\e94a";
$play-filled: "\e905";

//font faces
$Icons-Outline: "FxL-Outline";

$open-sans-light: "OpenSans-Light";
$open-sans-regular: "OpenSans-Regular";
$open-sans-semi-bold: "OpenSans-SemiBold";

$montserrat-medium: "Montserrat-Medium";
$montserrat-semi-bold: "Montserrat-SemiBold";

@font-face {
    font-family: $montserrat-semi-bold;
    font-weight: 600;
    src: url("#{$font-path}/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: $montserrat-medium;
    font-weight: 500;
    src: url("#{$font-path}/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: $open-sans-light;
    font-weight: 300;
    src: url("#{$font-path}/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: $open-sans-regular;
    font-weight: 400;
    src: url("#{$font-path}/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: $open-sans-semi-bold;
    font-weight: 600;
    src: url("#{$font-path}/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: $Icons-Outline;
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url("#{$font-path}/FxL-Outline.ttf") format("truetype");
}

//font-sizes
$font-size-52: 52 + $base-unit;
$font-size-40: 40 + $base-unit;
$font-size-36: 36 + $base-unit;
$font-size-32: 32 + $base-unit;
$font-size-28: 28 + $base-unit;
$font-size-25: 25 + $base-unit;
$font-size-24: 24 + $base-unit;
$font-size-20: 20 + $base-unit;
$font-size-18: 18 + $base-unit;
$font-size-16: 16 + $base-unit;
$font-size-14: 14 + $base-unit;
$font-size-12: 12 + $base-unit;
$font-size-10: 10 + $base-unit;
$font-size-8: 8 + $base-unit;

//line-heights
$line-height-48: 48 + $base-unit;
$line-height-40: 40 + $base-unit;
$line-height-36: 36 + $base-unit;
$line-height-30: 30 + $base-unit;
$line-height-28: 28 + $base-unit;
$line-height-24: 24 + $base-unit;
$line-height-25: 25 + $base-unit;
$line-height-20: 20 + $base-unit;
$line-height-16: 16 + $base-unit;
$line-height-14: 14 + $base-unit;
$line-height-10: 10 + $base-unit;
$line-height-9: 9 + $base-unit;

//letter-spacings
$letter-spacing-2: 2 + $base-unit;
$letter-spacing-1: 1 + $base-unit;
$letter-spacing-05: 0.5 + $base-unit;
$letter-spacing-02: 0.2 + $base-unit;
$letter-spacing-0: 0 + $base-unit;

//dark box shadows
$box-shadow-dark-xs: 0px 1px 1px rgba(0, 0, 0, 0.12);
$box-shadow-dark-s: 0px 1px 1px rgba(0, 0, 0, 0.16),
    0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
$box-shadow-dark-m: 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 3px 5px rgba(0, 0, 0, 0.2);
$box-shadow-dark-l: 0px 24px 38px rgba(0, 0, 0, 0.08),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);

//light box shadows
$box-shadow-light-xs: 0px 1px 1px rgba(0, 0, 0, 0.06);
$box-shadow-light-s: 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
$box-shadow-light-m: 0px 3px 5px rgba(0, 0, 0, 0.1),
    0px 1px 18px rgba(0, 0, 0, 0.06), 0px 6px 10px rgba(0, 0, 0, 0.08);
$box-shadow-light-l: 0px 24px 38px rgba(0, 0, 0, 0.04),
    0px 9px 46px rgba(0, 0, 0, 0.06), 0px 11px 15px rgba(0, 0, 0, 0.1);

//border-radius
$border-radius-3: 3 + $base-unit;
$border-radius-4: 4 + $base-unit;
$border-radius-5: 5 + $base-unit;
$border-radius-6: 6 + $base-unit;
$border-radius-10: 10 + $base-unit;
$border-radius-20: 20 + $base-unit;

//border-sizes
$border-size-0: 0 + $base-unit;
$border-size-1: 1 + $base-unit;
$border-size-2: 2 + $base-unit;
$border-size-4: 4 + $base-unit;

//spacing
$spacing-0: 0 + $base-unit;
$spacing-2: 2 + $base-unit;
$spacing-4: 4 + $base-unit;
$spacing-5: 5 + $base-unit;
$spacing-6: 6 + $base-unit;
$spacing-8: 8 + $base-unit;
$spacing-10: 10 + $base-unit;
$spacing-12: 12 + $base-unit;
$spacing-14: 14 + $base-unit;
$spacing-16: 16 + $base-unit;
$spacing-18: 18 + $base-unit;
$spacing-20: 20 + $base-unit;
$spacing-21: 21 + $base-unit;
$spacing-22: 22 + $base-unit;
$spacing-24: 24 + $base-unit;
$spacing-25: 25 + $base-unit;
$spacing-28: 28 + $base-unit;
$spacing-32: 32 + $base-unit;
$spacing-30: 30 + $base-unit;
$spacing-31: 31 + $base-unit;
$spacing-34: 34 + $base-unit;
$spacing-40: 40 + $base-unit;
$spacing-48: 48 + $base-unit;
$spacing-50: 50 + $base-unit;
$spacing-55: 55 + $base-unit;
$spacing-56: 56 + $base-unit;
$spacing-60: 60 + $base-unit;
$spacing-64: 64 + $base-unit;
$spacing-70: 70 + $base-unit;
$spacing-72: 72 + $base-unit;
$spacing-80: 80 + $base-unit;
$spacing-90: 90 + $base-unit;
$spacing-120: 120 + $base-unit;
$spacing-146: 146 + $base-unit;
$spacing-150: 150 + $base-unit;
$spacing-180: 180 + $base-unit;
$spacing-190: 190 + $base-unit;
$spacing-200: 200 + $base-unit;
$spacing-230: 230 + $base-unit;
$spacing-270: 270 + $base-unit;
$spacing-300: 300 + $base-unit;
$spacing-320: 320 + $base-unit;
$spacing-333: 333 + $base-unit;

//icon sizes
$icon-96: 96 + $base-unit;
$icon-64: 64 + $base-unit;
$icon-56: 56 + $base-unit;
$icon-48: 48 + $base-unit;
$icon-32: 32 + $base-unit;
$icon-24: 24 + $base-unit;
$icon-20: 20 + $base-unit;
$icon-16: 16 + $base-unit;
$icon-12: 12 + $base-unit;
$icon-4: 4 + $base-unit;
