@import "../Styles/abstracts/_variables.scss";
@import "../Styles/abstracts/_functions.scss";
@import "../Styles/components/_bit-accordion.scss";
@import "../Styles/abstracts/_mixins.scss";

.page-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    margin-top: $spacing-70;
    // overflow-y: scroll;
    font-size: $font-size-16;
}

.info-container {
    height: 90%;
    width: 100%;
    margin-bottom: $spacing-20;

    & > div {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.page-img {
    width: $spacing-150;
    height: $spacing-200;
    @include Background(var(--base-img),center no-repeat);
    margin: auto;
}

.state-info {
    line-height: $line-height-40;
    margin-bottom: $spacing-20;

    .blox-id-value {
        width: $spacing-320;
        border: $border-size-1 solid color(green-border);
        border-radius: $border-radius-5;
        padding: $spacing-0 $spacing-4;
        overflow: hidden;
        min-width: $spacing-40;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-size-12;
    }

    .blox-state {
        color: rgb(19, 135, 87);
        font-weight: 900;
        text-transform: uppercase;
    }
}

.hardware-info {
    display: flex;
    flex-direction: row !important;
    gap: 10%;

    div {
        width: 40%;
        height: $spacing-90;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            135deg,
            rgba(6, 181, 152, 0.7),
            rgba(9, 147, 147, 0.6)
        );
        border-radius: $border-radius-10;
        font-size: min(4vw, $font-size-25);
    }
}

.installed-stacks {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    padding: 0 $font-size-20;

    div {
        width: 100%;
    }

    .installed-stacks-title {
        font-size: $font-size-18;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-bottom: $spacing-10;
    }

    .installed-stacks-list {
        padding: $spacing-4 $spacing-5;
        border: $border-size-2 solid color(green-border);
        border-radius: $border-radius-10 $border-radius-5 $border-radius-5
            $border-radius-10;
        gap: $spacing-5;
        max-height: $spacing-146;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: $spacing-10;

        .add-stack-button {
            width: $spacing-150;
        }

        p {
            margin: $spacing-4;
            text-align: center;
            font-size: $font-size-16;
            color: $primary-color;
        }

        div {
            height: $spacing-60;
            display: flex;
            align-items: center;
            padding-left: $spacing-10;
            background-color: color(gray-bg-secondary);
            border-radius: $border-radius-6;
            height: $spacing-40;
            margin-bottom: $spacing-5;
            animation: newStack 0.35s ease-out;
        }
    }
}

@keyframes newStack {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
