@import "../Styles/abstracts/_variables.scss";
@import "../Styles/abstracts/_functions.scss";
@import "../Styles/abstracts/_mixins.scss";

.wizard-page {
    width: 100%;
    height: 100%;
    padding: 0 21px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: color(app-bg);
}

.progress-bar {
    margin-top: 55px;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #495057;
    color: #cae9e3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;

    .progress-fill {
        width: 100%;
        height: 100%;
        background: #06b597;
    }

    .progress-empty {
        width: 100%;
        height: 100%;
        background: transparent;
    }
}

.wizard-image {
    margin-top: $spacing-24;
    // background: url(color(wizard-img)) center no-repeat;
    background-image: url("./images/backgrounds/base-img-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 146px 190px;
    width: 100%;
    min-height: 190px;
}

.welcome-image {
    // background: url($welcome-img) center/cover no-repeat;
    background-image: url("./images/backgrounds/welcome-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 270px;
    width: 100%;
    min-height: 270px;
}

.wizard-title {
    font-size: $font-size-28;
    font-weight: 600;
    font-family: "Montserrat";
    font-weight: 600;
}

.wizard-welcome {
    font-size: $font-size-14;
    letter-spacing: 1px;
    font-family: "Montserrat";
    text-align: center;
}

.wizard-content {
    flex-grow: 1;
    margin-top: 25px;
    width: 100%;

    & > div {
        padding: 5px 0;
    }
}

.wizard-description {
    font-size: $font-size-14;
    margin-top: $spacing-14;
    line-height: 25px;

    div {
        margin-bottom: 10px;
    }
}

.progress-container {
    width: 100%;
    min-height: $spacing-40;

    ::deep .progress-list-container {
        margin-bottom: $spacing-12;
    }
}

.intro-des {
    div {
        margin-bottom: 0px;
    }
}

.center-text {
    text-align: center;
}

.wizard-action-wrapper {
    width: 100%;
    padding: 16px 0;
}

ul.list-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: $font-size-14;
    font-weight: 300;
    border: 1px solid color(gray-border);
    border-radius: $border-radius-4;
    list-style-type: none;

    li.list-item {
        width: 100%;
        padding: $spacing-2 $spacing-4;
        height: 60px;
        cursor: pointer;

        .item-text {
            border-bottom: 1px solid color(gray-border);
            padding: $spacing-14 $spacing-12;
            width: 100%;
            height: 100%;
            margin: 0 !important;
            border-radius: $border-radius-4;
        }

        .item-text:hover {
            background: $green-light-bg;
        }
    }

    .list-item:last-child {
        .item-text {
            border-bottom: none;
        }
    }

    .selected-list-item {
        width: 24px;
        height: 24px;
        background-image: url($success-mode);
        background-repeat: no-repeat;
        background-position: right 2px;
        background-size: 24px;
    }
}
