@inherits AppComponentBase;

<FxToast @ref="_fxToast"></FxToast>
<div class="gray-section @(IsOpen ? "" : "gray-section-disabled")">
    <div class="wifi-password-section">
        <div class="close-section" @onclick="OnCancelAsync">
            <div class="close-btn"></div>
        </div>

        <div class="wifi-name">Enter password for “@WifiName”</div>

        <div class="password-form">
            <label for="password">Password:</label>
            <input @bind="Password" @bind:event="oninput" type="password" id="password" name="password" autocomplete="off">
            <button @onclick="OnSubmitPasswordAsync">Submit</button>
        </div>
    </div>
            
</div>