@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_mixins.scss';


.progress-list-container {
    padding: $spacing-4 $spacing-8;
    border: 1px solid color(gray-border);
    border-radius: $border-radius-4;
    width: 100%;
}

.progress-item {
    width: 100%;
    min-height: $spacing-30;
    font-size: $font-size-14;
    font-weight: 300;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: $spacing-4 $spacing-4;

    .progress-item-icon {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
    }

    .progress-title {
        padding-left: $spacing-8;
    }

    .show-details {
        min-width: 103px;
        margin-left: $spacing-6;
        color: $green-dark-base;

        &:hover {
            text-decoration: underline;
        }
    }
}

.icon-success {
    background-image: url($success-mode);
}

.icon-waiting {
    background-image: url($in-progress-mode);
    animation: spinner 1.4s linear infinite;
    transition: all linear 0.7s;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.icon-error {
    background-image: url($error-mode);
}

.icon-warning {
    background-image: url($warning-mode);
}

.icon-info {
    background-image: url($info-mode);
}

